<!-- ////////////// FOOTER ////////////// -->
footer.pt-4.my-md-5.border-top
	.container
		.row.pt-4
			.col-md-4
				h5 NEWSLETTER
				ul.list-unstyled.text-small
					li
						a.text-muted(href="#") 156 NGUYEN VAN THU - 1 DISTRICT - HCM
					li
						a.text-muted(href="#") HOTLINE:028 6273 0815
					li.pt-3.canhcam
						a.text-muted(href="#") INFO@CANHCAM
			.col-md-4
				h5 PRODUCTS
				.row
					.col-md-6
						ul.list-unstyled.text-small
							li
								a.text-muted(href="#") ICE CREAM
							li
								a.text-muted(href="#") HERA
							li
								a.text-muted(href="#") SAIGON NIGHT
							li
								a.text-muted(href="#") PURE
					.col-md-6
						ul.list-unstyled.text-small
							li
								a.text-muted(href="#") MOISTURE
							li
								a.text-muted(href="#") STYLISH
							li
								a.text-muted(href="#") NATURAL
			.col-md-4
				h5 ENTER YOUR EMAIL...
				p.text-muted Subscribe to receive update, access to exclusive deals, and me
				ul.nav
					li.nav-item
						a.nav-link(href="#")
							i.fa.fa-facebook
					li.nav-item
						a.nav-link(href="#")
							i.fa.fa-twitter
					li.nav-item
						a.nav-link(href="#")
							i.fa.fa-google
		.row.pt-5
			.col
				hr
				p Copyright 2018 ABC. ALL RIGHT RESERVED. DESIGN BY FULLSTACK VIETNAM
